body {
   /*background:url("../img/back_pattern.png") repeat fixed 0 0 transparent;*/
}
#container {
    width: 80%;
    margin: 1em auto 6em;
}
#biglogo {
    width:65%;
    max-width:650px;
    min-width:250px;
}
.uk-navbar-brand > img, .uk-navbar-flip > img {
    height:35px;
}

footer {
    width:60%;
    text-align:center;
    border-top: 1px solid #999;
    padding:8px 30px;
}

#ocnav-header {
    padding-left:22%;
    color: white;
}
.uk-nav-side > li.uk-active > a {
    background-color: #6FAC34;
}

.dn-news-article > .uk-article-title {
    font-size:26px;
}
.dn-news-article > .uk-article-title:hover {
    text-decoration:underline;
}

#about-us-more, #less {
    display:none;
}

.team_logo {
    border-radius:6px;
    margin-right: 1em;
    box-shadow: 0 2px 5px rgba(0,0,0,0.25);
}

.botpad {
    padding-bottom:80px;
}

#tsviewer > .uk-modal-dialog {
    max-height: 80%;
    overflow-y: scroll;
}

.ts_num {
    color: #D9A859;
}
.dn-streamer, .dn-streamer-offline {
    display: inline-block;
    width: 105px;
    padding: 2px;
    margin: 2px;
}

#streams p.uk-text-bold {
    font-size: 12px;
}

.dn-streamer-offline > img {
    height:50px;
}

.dn-streamer-hover {
    background:#CACACA;
}

.dn-hero-icon {
    background:#000;
    padding:4px;
    margin:2px;
}

#streams {
    padding:10px;
}

#events_small > dl.uk-description-list-line > dt, #events_large > dl.uk-description-list-line > dt {
    border-top: none;
}

#events_small .uk-badge, #events_large .uk-badge {
    float:right;
}

#winrate_graph {
    margin: 5em;
}

.pipemenu > li {
    display: inline-block;
    list-style: none;
}

.pipemenu > li + li::before {
    content: " | ";
}
