    {% for endpoint, title in [
    ('index', 'Home'),
    ('friends', 'Friends'),
    ('list_events', 'Events'),
    ('teamspeak', 'TS3 Stats'),
    ] %}
    <li{% if endpoint == request.endpoint %} class='uk-active' {% endif %}>
    <a href="{{ url_for(endpoint) }}">{{ title }}</a>
    </li>
    {% endfor %}
    <li class="uk-parent">
        <a href="#">Stream Stats</a>
        <ul class="uk-nav-sub">
            <li><a href="http://potatr.dotanoobs.com">Potato_Bot</a></li>
            <li><a href="http://cidr.dotanoobs.com">Cider_Bot</a></li>
        </ul>
    </li>
    <li class="uk-nav-divider"></li>
    <li class="uk-nav-header">Social</li>
    <li><a href="http://board.dotanoobs.com"><i class="uk-icon-group"></i> Board</a></li>
    <li><a href="http://www.youtube.com/user/DotaNoobsVods"><i class="uk-icon-youtube"></i> YouTube</a></li>
    <li><a href="http://webchat.oftc.net/?channels=dotanoobs&uio=d4"><i class="uk-icon-comments"></i> IRC Chat</a></li>
    <li class="uk-nav-divider"></li>
    <li class="uk-nav-header">Controls</li>
    {% if not g.user%}
    <li><a href="{{ url_for('login') }}"><i class="uk-icon-sign-in"></i> Login</a></li>
    <li><a href="{{ url_for('login') }}"><i class="uk-icon-star"></i> Register</a></li>
    {% else %}
    <li {% if request.endpoint == 'user_profile' %} class='uk-active' {% endif %}><a href="{{ url_for('user_profile', userid=g.user.id) }}"><i class="uk-icon-dashboard"></i> Profile</a></li>
    <li {% if request.endpoint == 'user_settings' %} class='uk-active' {% endif %}><a href="{{ url_for('user_settings') }}"><i class="uk-icon-cogs"></i> Settings</a></li>
    <li><a href="{{ url_for('logout') }}"><i class="uk-icon-sign-out"></i> Logout</a></li>
    {% endif %}
